<Files ~ "^(users/.*|.*.ht.*|.*yaml|.*conf)$">
	deny from all
	satisfy all
	ErrorDocument 403 "Access to these files is forbidden!"
</Files>

<Files "dvmail.css">
	Order Allow,Deny
	Allow From All
</Files>

#FIXME (phantomjs)
#<Files "/admin/*">
	#AuthType Digest
	#AuthName "Admin Area"
	#AuthUserFile /var/www/dvmail/admin/.htdigest
	#Require valid-user
# admin:ahke4Opi
#</Files>

Order Allow,Deny
Allow From All

Options +ExecCGI
AddHandler cgi-script .cgi
DirectoryIndex login.cgi

