body{
	background-color:  #b3b3b3;
	font: 1em Verdana, Geneva, sans-serif;
}
div.gridster {
	margin: auto;
}
div.widget {
	font-size: 14px;
	padding: 3ex;

	background: #f9f9f9;
	border: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

#clock
{ 
  display: inline-block;
  height:4.5em;
  width: 14em;
	background: #333;
}
 
#clk_bg, #txt
{
  font: 2.5em 'Segment7Standard', sans-serif;
  position: absolute;
  padding: 1ex;

}

#clk_bg
{
  color:#136e11;
  text-shadow: 0px 0px 10px rgba(36, 221, 34, 0.6);
  border: hidden;
  border-radius: 4px;
}
 
#txt
{
  color:rgba(36, 221, 34, 0.7);
  text-shadow: 0 0 0.25em  rgba(36, 221, 34, 0.3), 0 0 0.15em #24dd22;
}


h1 {
	color:#1d70b8;
}

#inbox th{
	text-align: left;
	font-size: 1.05em;
	font-weight: bold;
}

#inbox tr:hover{
	background: #f0f0f0;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0px 8px ;
}

li {
	padding: 2px 0;
}

#logo {
	display: inline-block;
	height: 3em;
	margin-top: 0.25em;
	margin-left: 0.5em;
}

#head{
	padding: 0;
	margin: 0;
	background-color: #333333;
	font-size: 1.25em;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.29);
}

.green {
	display: inline-block;
	font-size: 1.18em;
	position: absolute;
	left: 10.5em;
	margin: 0.7826em 0;
	color: #878787;
	font-weight: bold;

	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);

}

#weather_background {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
	border-radius: 10px;
    background-position: center;
    background-size: cover;
}
#weather{
	position: absolute;
	display: block;
	top:  6em;
	right: 2em; 
	width: 25em;
	background-color: rgba(200,200,200,0.8);
	border-radius: 10px;
	text-align: center;
}
#weather>h2{
	display: inline;
	float:right;
}
#weather>ul{
	margin-top: 10px;
}
#fav>li{
    position: static;
}
table td.content, table td.content input {
	width: 100%;
}
