#head {
	background-color:#0b2a51;
	padding: 20px;
	margin: 0;
	color: #FFF;
	text-align:center;
	font-weight: bold;
	font: 200% Verdana,Helvetica,Arial,sans-serif;
}
.green {
	color: green;
}
.red {
	color: red;
}
.red, .green {
	font-weight: bold;
}

#tabs{
	float:left;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 10em;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#tabs ul{
	list-style:none;
	margin: 0;
	margin-top:.5em;
	padding: 0;
}

#tabs li.nonactive_tab , #tabs li.active_tab{
	background-color: #FFF;
	color: #333;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: .3em .3em .4em 0;
	padding-left: 30px;
}

#tabs li.active_tab, #tabs li.nonactive_tab:hover {
	background-color: #CCD6DF;
}

#tabs li.nonactive_tab a {
	border-bottom: none;
	color: #333;
}
a {
	text-decoration: none;
}

#content{
	margin-top:0;
	margin-left: 13em;
	padding-top: 1.5625em;
	padding-left: 1em;
	padding-bottom: 1.25em;
	line-height: 1.5em;
}

.header{
	font-weight: bold;
}
