input {
	background: #f9f9f9;
	border: solid 1px #aaa;
}
input[type=text], input[type=password] {
	width: 10em;
}
div.widget, input {
	font-size: 10px;
}
div.widget {
	background: #f9f9f9;
	border: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
div.widget>div{
	padding: 10px;
	height: 100%;
	height: calc(100% - 20px);
}
div.widget h1 {
	margin-top: 0;
	padding: 0;
	display:flex;
	justify-content: space-between;
}
.zoomButton {
	display: none;
}
div.widget:hover .zoomButton {
	display: block;
}
.fullscreen {
	z-index: 9999 !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
}


#inbox th{
	text-align: left;
	font-size: 1.05em;
	font-weight: bold;
}

#inbox tr:hover{
	background: #f0f0f0;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0px 8px ;
}

li {
	padding: 2px 0;
}

.green {
	display: inline-block;
	font-size: 1.18em;
	position: absolute;
	left: 10.5em;
	margin: 0.7826em 0;
	color: #878787;
	font-weight: bold;

	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);

}

#weather_background {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-repeat: no-repeat;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
}
#weather{
	position: absolute;
	display: block;
	top:  6em;
	right: 2em;
	width: 60%;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-20%, -50%);
	background-color: rgba(200,200,200,0.8);
	border-radius: 10px;
	text-align: center;
}
#weather>h2{
	display: inline;
	float:right;
}
#weather>ul{
	margin-top: 10px;
}
#fav>li{
	position: static;
}
#slides {
	z-index: 19;
}
#slides object {
	width:90%;
	height:80%;
}

h1 {
	font-size: 1.2em;
}

body{
	font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
	color: #666;
}
.error {
	color: #2EA3F2;
}


#welcome {
	display: inline;
	float: right;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: bottom;
	text-align: right;
}

fieldset {
	display: inline-block;
	width: 325px;
}

#logo {
	display: inline-block;
	height: 3em;
	margin-top: 0.25em;
}


#tabs ul {
	float: right;
	list-style: none;
	margin: 0.2em 0;
	padding: 0;
	padding-top: 10px;
	position: relative;
}

#tabs li a{
	display: block;
	text-decoration: none;
}

#tabs li {
	float: left;
	text-align: center;
	margin: 0;
	padding-left: 22px;
}

#tabs li.nonactive_tab a {
	color: #666;
}
#tabs li a:hover {
	color: #333;
}
#tabs li#active_tab a {
	color: #2EA3F2;
}



#tabs{
	padding: 0;
	margin: auto;
	max-width: 1080px;
	font-size: 14px;
}
#top{
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	left: 0;
	top: 0;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 7px 0px;
	z-index: 20;
}

#content{
	position: relative;
	left: -12px;
	margin: auto;
	max-width: 1080px;
	margin-top: 0;
	padding-top: 60px;
	padding-bottom: 2.5em;
}
#content table, .max {
}
#content table textarea {
	min-height: 50ex;
	padding: 0;
}
table td.description {
	text-align: right;
	padding-right: 1ex;
	white-space: nowrap;
}
table td.content {
	width: 100%;
}
td {
	vertical-align: top
}

.header{
	font-weight: bold;
}

#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	margin: 0;
	text-align: center;
	z-index: 20;
}

#ft_cont{
	max-width: 1080px;
	margin: auto;
	font-size: 1.1em;
	color: #a0a0a0;
	padding: 0 0.2em;
}

#ft_cont div{
	padding: 10px 0;
	display: inline-block;
}

#ft_cont>*:first-child{
	float: left;
}

#ft_cont>*:last-child{
	float: right;
}



#footer a {
	text-decoration: none;
	color: #a0a0a0;
}

#footer a:hover{
	color: #2EA3F2
}

#footer ul{
	list-style: none;
	display: inline-block;
	margin: 0;
}

#footer li{
	float: left;
	height: 1em;
	padding: 0 10px;
	margin: 0;
}

#footer img{
	height: 1.1em;
	filter: grayscale(100%); /* Standard */
	-webkit-filter: grayscale(100%); /* Webkit */
}

#footer img:hover{
	filter: grayscale(0%); /* Standard */
	-webkit-filter: grayscale(0%); /* Webkit */
}

.adminwidget button{
	/*background-color: #1770ba;*/
	background-color: #c4c4c4;
	border: none;
	color: black;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}
