#bg {
  z-index: -20;
  background: url(cloud_city.jpg) no-repeat center center fixed;
  background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
}


#header{
	background: rgba(111,149,174,0.7);
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.8em;
	padding: 0;
	z-index: 1;
	font-family: Verdana, sans-serif;
}

#clone{
	display: inline-block;
	line-height: 2.8em;
	margin-left: 0.5em;
}

#clone_s{
	height: 2.3em;
	margin: 0.25em;
	margin-left: 0.5em;
	display: inline-block;
	float: left;
}

#welcome{
	line-height: 2.8em;
}


#welcome{
	line-height: 2.8em;
}

#tabs{
	float: right;
}

#tabs>div, #tabs>ul {
	float: left;
}

#header ul{
	line-height: 2.8em;
	margin: 0;
	margin-right: 1.5em;
	list-style-type: none;
}

#header a{
	text-decoration: none;
	color: #ffffff;
}

.files{
	position: relative;
	top: 3em;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em;
	margin-bottom: 4em;
	font-family: Helvetica, sans-serif;
}

.files ul{
	position: relative;
	list-style: none;
	line-height: 2.5em;
	padding-right: 2em;
}

.files li{
	border-top: 0.03125em solid #aaaaaa;
	height: 2.5em;
	line-height: 2.5em;
}

.files li:hover{
	background: rgba(221, 221, 221, 0.5);
}

.files li:first-child{
	border: hidden;
}

.files a{
	text-decoration: none;
	color: #444444;
}


#head img {
	height: 175px;
}
#loginmasq, #head img {
	display: block;
	margin: auto;
}
#loginmasq {
	margin-top: 3.5em;
	width: 250px;
}
#login {
	margin-top: 3ex;
}
#top, #bottom {
	margin: 0px;
}
#top input {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: #ddd;
  border-width: 0px;
  border-bottom-width:1px;
	margin-bottom: 0px;
	height: 27px;
}
#bottom input[type=password] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: rgb(85, 85, 85);
  border-top-width: 1px;
	border: none;
	height: 27px;
}
#top input, #bottom input[type=password] {
	padding: 10px;
	width: 230px;
	font-size: 20px;
	font-weight: 300;
}
#bottom {
	position: relative;
}
#bottom input[type=submit]{
	color: #ddd;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url(confirm.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 23px;
	height: 27px;

}
#footer {
    bottom: 3ex;
    position: fixed;
    text-align: center;
    width: 100%;
}

#footer, #footer a{
    text-decoration: none;	
	color:white;
	font-family: gautami, Sans-serif;
	font-weight: bold;
}
